<div class="container">
        <h4 class="display-3 text-center text-light my-3">VIEW OUR PRODUCTS</h4>
        <div class="row">
          <div *ngFor="let p of products" class="col-md-4">
              <div class="card shadow">
                <img src={{p.image}} class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="font-monospace text-center">{{p.name | uppercase}}</h5>
                    <h6 class="text-center">PRICE :  ₹ {{p.price}}</h6>
                    <div  class="rating text-center">
                      <p class="font-monospace display-6">RATING</p>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                  </div>
                    <div class="icons">
                      <div>
                   
                  <a (click)="deleteProduct(p._id)" class="btn btn-light" >  <i class="fa-solid fa-circle-minus"></i> </a>

             
              </div>
              <div>

                  <a (click)="sendProduct(p._id)" routerLink ="/show" class="btn btn-outline-light"><i class="fa-regular fa-eye"></i></a>
               
              </div>
              <div>
                <button class=" btn btn-outline-light"><i class=" fa-regular fa-heart"></i>
                </button>
              </div>
                </div>
                  </div>
          </div>
        </div>
</div>